.main{
    height: 100vh;

}
.main::before{
    content: "";
        background: url(https://img.freepik.com/premium-vector/science-technology-icon-background-landing-page-concept-vector-illustration_3482-4666.jpg?size=626&ext=jpg&ga=GA1.2.637354507.1690955929&semt=ais) no-repeat center center/cover;

    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 106%;
    filter: invert(20%);
    z-index: -1;

}
